---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com


/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat

/* Credits */

  Static Site Generator: Eleventy
	Twitter: @eleven_ty
  Website: 11ty.dev

  Eleventy Base Blog Starter Project
  Website: https://github.com/11ty/eleventy-base-blog

  Front Cover Jekyll Theme
  Website: https://github.com/dashingcode/front-cover

/* SITE */

	Last update: {{ page.date }}
	Language: English
  Generator: Eleventy
	Doctype: HTML5
	IDE: VS Code, Terminal
