<section class="col-md-10 text-end p-1">
<p><small>
{{config.copyrights.text1}} <a href="{{config.copyrights.text2_link}}" class="text-white icon-link">{{config.copyrights.text2}}</a> {{config.copyrights.text3}} <a href="{{config.copyrights.text4_link}}" class="text-white icon-link">{{config.copyrights.text4}}</a>
</small></p>
</section>
