<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "widgets/seo.njk" %}
</head>
<body>
<div class="container-fluid">
{% include "widgets/navbar.njk" %}
{% include "widgets/content.njk" %}
{% include "widgets/footer.njk" %}
{% include "widgets/copyrights.njk" %}
</div>
{% include "widgets/scripts.njk" %}
</body>
</html>
